* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
}


/* sidebar menu */
.custom-dashboard li:hover a{
  transition: all linear 0.3s;
  background: #000000;
  color: #ffffff;
}
/* active link */
.custom-dashboard a:is(:link, :active, :visited).active{
  color: #ffffff ;
  background: #000000;
}
.sub-menu li a:is(:link, :active, :visited).sub-active{
  color: #000000 !important;
}
/* sub-menu */
.custom-dashboard li a{
  position: relative;
  z-index: 10;
}
.custom-dashboard ul{
  background: #ffffff;
  width: 90%;
  padding: 15px;
  position: absolute;
  top: 100%;
  left: 16px;
  display: none;
}
.custom-dashboard li ul li {
  margin-bottom: 10px;
}
.custom-dashboard li:hover ul{
  display: block;
}
.sub-menu li a{
  background: #ffffff !important;
  color: #999999 !important;
  font-weight: 700;
}
.sub-menu li a:hover{
  transition: all linear 0.3s;
  color: #000000 !important;
}


/* form number field */
.custom-form input[type='number'] {
  -moz-appearance:textfield;
}
.custom-form input::-webkit-outer-spin-button,
.custom-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


/* file:image field */
.custom-file-upload input[type='file']{
  border: 2px solid #d1d5db;
  color: #555555;
  background: transparent;
  border-radius: 10px;
  width: 100%;
  padding: 16px 12px;
}
.custom-file-upload input[type='file']::after{
  content: " - as image for this color";
}
.custom-file-upload input[type='file']::-webkit-file-upload-button{
  background: #d1d5db;
  color: #000000;
  border-color: transparent;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  padding: 6px 14px;
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
}
.custom-file-upload:hover input[type='file']::-webkit-file-upload-button {
  transition: all linear 0.3s;
  background: #e5e7eb;
}


